body {
  background-color: #f5f0f0;
  font-family: 'Arial', sans-serif;
}
/* slider */



/* slider END */

.search-section {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 0px;
  transition: transform 0.3s;
  min-height: 9rem;
  transition: all .4s ease-in-out;
  /* max-width: 9rem;
  min-width: 6rem;
  max-height: 9rem;
  min-height: 6rem; */
}

.category-card:hover {
  transform: scale(1.05);
  border: 2px solid #FD226E;
  transition: all .4s ease-in-out;
}

.menu-section {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.menu-section .form-check-label{
  font-size: 24px;
}

.btn-light {
  background-color: #f8f8f8;
}

/* Dicover more page style START */
.filter-icons img {
  box-shadow: 1px 2px 2px #e5e5e5;
  border-radius: 6px;
}

img.filter-icons {
  width: 42px;
  margin-top: 0px;
  padding-top: 0px;
  cursor: pointer;
}

.viewpoints-text-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #89878714;
  padding: 8px 16px;
  border-radius: 6px;
  margin-bottom: 8px;
}

h1.h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
input#mapViewToggle {
  font-size: 22px;
}
label.form-check-label {
  font-size: 22px;
}
.form-switch {
  padding-left: 3.5em;
}
p.mb-4.viewpoints-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 0px;
  margin-bottom: 0px !important;
  padding-bottom: 5px !important;
  padding-top: 5px !important;
  padding-left: 0px !important;
  margin-left: 0px !important;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-section-two {
  display: flex;
}

button.btn.btn-sm.btn-outline-secondary {
  margin: 46px 0px;
  width: 40px;
  border-radius: 6px;
  height: 40px;
  border: none;
  box-shadow: 0px 2px 8px #88888829;
  background-color: #fff;
}

.footer-section {
  background-color: #fff;
}

/* END */

/* discover more explore page style START */


.discover-more-page h5.card-title {
  font-size: 24px;
  line-height: 1.9rem;
  color: #1D0387;
  height: 24px;
  min-height: 6rem;
}
.header-image {
  background-image: url('../images/discover_explore/Mask group.png'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
p.card-text {
  font-size: 16px;
  line-height: 1.6rem;
  color: #00001E;
  height: 54px;
}

.card-text p {
  font-size: 14px;
  line-height: 16px;
  color: #00001E;
}
.card img {
  height: auto;
  object-fit: cover;
}

/* .card-custom {
  height: 100%; 
} */
.tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #e6007e;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 15px;
}
.choice-badge {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #3700b3;
  color: #fff;
  font-size: 0.75rem;
  padding: 4px 8px;
  border-radius: 5px;
}
.discover-section {
  margin-top: 20px;
}
.discover-link {
  color: #e6007e;
  font-weight: bold;
  text-decoration: none;
}
.discover-link:hover {
  text-decoration: underline;
}
.card-custom img {
  border-radius: 15px 15px 0 0;
}
.card-custom {
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

button.btn.btn-primary {
  background-color: #FD226E;
  border: none;
  border-radius: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 0px 2px 8px #88888829;
}

button.btn-close {
  position: absolute;
  right: 1rem !important;
  top: 1rem;
  color: #fff !important;
  z-index: 2;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}

.pagination span.dot-1 {
  width: 15px;
  color: #FD226E;
  font-size: 34px;
}

.pagination span.dot-2 {
  width: 15px;
  color: #F6F6F6;
  font-size: 34px;
}

.pagination span.dot-3 {
  width: 15px;
  color: #F6F6F6;
  font-size: 34px;
}

.container-fluid.discover-explore.active-modal {
  position: absolute;
  top: 0;
}

.active-discover-more-page {
  display: none;
}

/* END */
/* Position the image container */
.image-container {
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

.icon-overlay img {
  width: 50px !important;
}

.icon-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  z-index: 10;
}
.image-container img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.image-container {
  position: relative;
}
/* .icon-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 5px;
} */

.icon-overlay i {
  color: white;
}

/* CSS for the choice icon overlay */
.icon-overlay-choice img {
  width: 100px;
}

.icon-overlay-choice {
  position: absolute;
  bottom: 5rem;
  left: 0;
  padding: 5px;
  border-radius: 50%;
  z-index: 10;
}

/* Filters section page style */


.filters-modal {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  /* max-width: 400px; */
  max-width: 1320px;
  margin: 20px auto;
}
.footer-section-two img.card-img-top {
  width: 40px;
  margin: 0 7px;
}
.filters-modal .close-btn {
  border: none;
  background: transparent;
  font-size: 24px;
  float: right;
}

.filters-modal h5 {
  margin-top: 10px;
}

/* .filters-modal .btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
} */
p.view-more {
  text-align: right;
}
.filters-modal .btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #F6F6F6;
  padding: 17px;
  border-radius: 8px !important;
}

.filters-modal h6 {
  font-size: 16px;
  font-weight: 500;
  color: #00001E;
  line-height: 24px;
}

/* .filters-modal .btn {
  flex: 1 1 calc(50% - 10px); 
  text-align: center;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 16px !important;
  background: #f9f9f9;
} */
.filters-modal .btn {
  flex: 1 1 calc(16.66% - 10px);
  /* Default: Show 6 buttons in a row */
  text-align: center;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 16px !important;
  background: #f9f9f9;
}

.filters-modal .btn:hover {
  background: #e9e9e9;
}
.Viewpoints-section h2:first-child{
  color:#00001E;
  font-weight: 400;
  font-size: 24px;
  
}
.Viewpoints-section h2{
  color:#FD226E;
  font-weight: 600;
  font-size: 24px;
}
.Viewpoints-section .viewpoints-heading,.Viewpoints-section .Neighbourhoods-headings,.Viewpoints-section .Parks-headings {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.discover-more-home {
  animation: bounce2 2s ease infinite;
  cursor: pointer;
}
@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-5px);}
	60% {transform: translateY(-5px);}
}

/* END */
/* Explore Page */

#explore-page .card {
  background-color: transparent;
  border: none;
}
#explore-page .trendy-neighborhoods .list-group-item {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid #ddd;
}
#explore-page .trendy-neighborhoods .list-group-item:last-child {
  border-bottom: none;
}
#explore-page .trendy-neighborhoods .number {
  background-color: #4A00E0;
  color: white;
  border-radius: 6px;
  max-width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  font-weight: bold;
  min-width: 2rem;
}
#explore-page .trendy-neighborhoods img {
  margin-top: 1rem;
}
#explore-page .swiper-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 2rem;
}
#explore-page .swiper-wrapper {
  gap: 1rem;
}
#explore-page .swiper-slide {
  text-align: center;
  background: rgba(29, 3, 135, 0.08);
  padding: 16px;
  border-radius: 8px;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#explore-page p.main-txt {
  color: rgba(29, 3, 135, 1);
  font-weight: 700;
  font-size: 14px;
}
#explore-page .viewpoints-text {
  text-align: start;
}
#explore-page div#explore-page {
  overflow-x: hidden !important;
}
.useful-jargon {
  background-color: #F9F9F9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.useful-jargon h2 {
  font-weight: bold;
  font-size: 1.5rem;
  color: #333333;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.useful-jargon ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.useful-jargon ul li {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #333333;
}

.useful-jargon ul li strong {
  font-weight: bold;
  color: #000000;
}

.useful-jargon ul li span {
  color: #007BFF;
  font-style: italic;
}
.useful-jargon strong {
  font-family: "Wix Madefor Text";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left; 
  color:rgba(0, 0, 30, 1) !important;
}
.useful-jargon span {
  font-family: "Wix Madefor Text";
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
   color:rgba(0, 0, 30, 1) !important;
}
div#portuguese-jargon {
  display: flex;
}
div#portuguese-jargon img {
  width: 48px;
  height: 48px;
}

.useful-jargon h2 {
  color: #1D0387;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
}

/* END */
/* Media Query Start */
@media (min-width: 769px) {

}
@media (max-width: 768px) {
  .filters-modal .btn {
    flex: 1 1 calc(33.33% - 10px);
    font-size: 12px;
    width: max-content !important;
    max-width: max-content;
  }
  p.mb-4.viewpoints-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-bottom: 0px !important;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
    padding-left: 0px !important;
    margin-left: 0px !important;
    width: 15rem;
}
.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 3.5em !important;
  margin-bottom: .125rem;
}
.useful-jargon {
  padding: 15px;
}

.useful-jargon h2 {
  font-size: 1.25rem;
}

.useful-jargon ul li {
  font-size: 0.95rem;
}
}

@media (max-width: 576px) {
  .category-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 0px;
    transition: transform 0.3s;
    min-height: 9rem;
    transition: all .4s ease-in-out;
    max-width: 9rem;
    min-width: 6rem;
    max-height: 9rem;
    min-height: 6rem;
  }
  .filters-modal .btn {
    flex: 1 1 calc(25% - 10px);
    font-size: 12px;
    width: max-content !important;
    max-width: max-content;
  }
  .card-text{
    font-size: 12px !important;
    color: #909090 !important;
  }
  .Viewpoints-section .viewpoints-heading h2,.Viewpoints-section .Neighbourhoods-headings h2,.Viewpoints-section .Parks-headings h2 {
    /* display: flex; */
    /* justify-content: space-between; */
    margin-top: 1rem;
    /* margin-bottom: 0rem; */
    font-size: 19px !important;
  }
  /* .category-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 15px;
    transition: transform 0.3s;
    min-height: 5rem;
    min-width: 5rem;
    transition: all .4s ease-in-out;
    position: relative;
} */
.category-card p {
  font-size: 12px;
  max-width: max-content;
  min-width: 5rem;
}
.category-card img {
  width: 20px;
}
}


@media screen and (max-width: 426px) {

  .discover-more-page h5.card-title,
  h5.card-title {
    font-size: 24px;
    line-height: 1.2rem;
    height: 24px;
    color: #00001E !important;
    min-height: 3rem !important;
    font-size: 12px;
  }

  .icon-overlay img {
    width: 30px !important;
  }

  .icon-overlay-choice img {
    width: 50px;
  }

  .icon-overlay-choice {
    position: absolute;
    bottom: 2rem;
  }

  .filters-modal .btn {
    flex: 1 1 calc(25% - 10px);
    font-size: 12px;
    width: max-content !important;
    max-width: max-content;
  }
}

@media only screen and (min-width: 426px) {
  p.mb-4.viewpoints-text {
    width: 100%;
    display: flex;
  }
}
@media only screen and (max-width: 376px) {
  .category-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 0px;
    transition: transform 0.3s;
    min-height: 9rem;
    transition: all .4s ease-in-out;
    max-width: 6rem !important;
    min-width: 5rem !important;
    max-height: 7rem !important;
    min-height: 5rem !important;
}
}
@media only screen and (max-width: 321px) {
  .category-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 0px;
    transition: transform 0.3s;
    min-height: 9rem;
    transition: all .4s ease-in-out;
    max-width: 6rem !important;
    min-width: 5rem !important;
    max-height: 7rem !important;
    min-height: 5rem !important;
}
}